<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Review Survey Answers</ion-title>
    </ion-toolbar>
  </ion-header>
  export ANDROID_HOME=/Users/gayathribommu/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/platform-tools
/Library/Java/JavaVirtualMachines/jdk1.8.0_271.jdk/Contents
<ion-content padding>
  <form [formGroup]="surveyPaper" (submit)="submitSurveyResult()">
    <ion-grid>
      <ion-row *ngFor="let ques of this.questionService.answers; index as i">
        <ion-col size="auto">
          <ion-label>
            {{i+1+". "+ques.question}}
          </ion-label>
        </ion-col>
        <ion-col size="auto">
          <ion-input [formControlName]="ques.qId"type="text" 
          [value]="ques.qAnswer" disabled>
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-input type="hidden" [formControlName]="'userId'" [value]="userId">
    </ion-input>
    <ion-input type="hidden" [formControlName]="'userName'" [value]="userName"></ion-input>
    <ion-input type="hidden" [formControlName]="'gender'" [value]="gender"></ion-input>
    <ion-input type="hidden" [formControlName]="'age'" [value]="age"></ion-input>
    <ion-input type="hidden" [formControlName]="'schoolCode'" [value]="schoolCode"></ion-input>
    <ion-button expand="block" type="submit">Submit</ion-button>
  </form>
</ion-content>