<ion-toolbar>
  <ion-title>CTEQ Survey</ion-title>
</ion-toolbar>


<ion-content padding>
  <form [formGroup]="question8" (submit)="onNext()">
    <ion-list>
      <ion-radio-group formControlName="q8">
        <ion-list-header>
          8. Have you ever carried out a task on a {{technology}}?
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button type="button" (click)="navigateBack()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
    <ion-button type="submit" class="ion-float-right">Next <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </form>
</ion-content>